@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: db-heavent;
  src:  url('../fonts/DBHeavent-Light.woff2') format('woff2'),
        url('../fonts/DBHeavent-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap
}
/* @font-face {
  font-family: db-heavent;
  src:  url('../fonts/DBHeavent-Bold.woff2') format('woff2'),
        url('../fonts/DBHeavent-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap
} */
@font-face {
  font-family: db-heavent;
  src:  url('../fonts/DBHeavent.woff2') format('woff2'),
        url('../fonts/DBHeavent.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap
}
